@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Stardos+Stencil:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: #000;
}
html {
  scroll-behavior: smooth;
}
.icon-white {
  color: white;
}
/* div{
  border: 1px solid #fff;
} */
.Container {
  width: 100%;
}

.contentHeader {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentHeader button {
  visibility: hidden;
}
.ContentMain-Flex {
  display: flex;
  height: 100vh;
}
.ContentSidebar {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.ContentMain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TitleMain {
  text-align: center;
}
.TitleMain h2 {
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  font-family: "Stardos Stencil", system-ui;
}
.TitleMain p {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  font-family: "Stardos Stencil", system-ui;
}
.TitleMain button {
  width: 180px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid white;
  background: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.Navigator {
  visibility: visible;
  display: flex;
  gap: 40px;
}
p {
  color: white;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.AboutContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
.itemsBarber {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./assets/mostafa-meraji--QcWbgrih1Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.paragraph-About {
  color: #fff;
  width: 500px;
  font-size: 20px;
}
.Image-About {
  width: 35%;
}

.Image-About img {
  width: 100%;
  border-radius: 20px;
}
.ButtonLearnMore {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 17px;
  position: absolute;
  left: 10%;
  bottom: 10%;
  cursor: pointer;
}
.ContentOurBarbers {
  min-height: 100dvh;
  padding: 30px;
}
.ContentOurBarbers h2 {
  font-family: "Stardos Stencil", system-ui;
  color: white;
  font-size: 40px;
  font-weight: 500;
}
.Barbers-Cards {
  height: 99%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
  margin-top: 20px;
}
.cardBarbers {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cardBarbers img {
  width: 90%;
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  transition: 0.5s;
}
.cardBarbers img:hover {
  width: 100%;
}
.cardBarbers h2 {
  text-align: center;
}
.ButtonChoosebarber {
  width: 180px;
  height: 40px;
  color: white;
  border: 1px solid white;
  background: none;
  position: relative;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
}
.PriceTableServices {
  min-height: 100dvh;
  padding: 30px;
}
.PriceTableServices h2 {
  font-family: "Stardos Stencil", system-ui;
  color: white;
  font-size: 40px;
  font-weight: 500;
}
.itemsCardPrices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 20px;
}
.cardprices {
  width: 25%;
  height: 450px;
  background-color: rgba(116, 112, 112, 0.384);
  border-radius: 20px;
  padding: 10px;
}

.cardprices h2 {
  text-align: center;
  font-size: 30px;
}
.cardprices p {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 18px;
  margin-top: 40px;
}
.cardprices button {
  margin-top: 40px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
.cardprices h3 {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: white;
}
.centerButton {
  text-align: center;
}
.content-footer {
  height: 20%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 30px;
}
.content-footer h2 {
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  white-space: nowrap;
}
@media only screen and (max-width: 840px) {
  .cardBarbers {
    width: 30%;
  }
  .cardprices {
    width: 40%;
  }
  .paragraph-About {
    width: 300px;
  }
  .Image-About {
    width: 50%;
  }
  .PriceTableServices {
    min-height: 200dvh;
  }
}
@media only screen and (max-width: 440px) {
  .Navigator-Open {
    visibility: visible;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0px;
    top: 50px;
    gap: 20px;
    width: 100%;
    height: 400px;
    background-color: #e0dddd;
    z-index: 1;
    transition: 0.5s;
  }
  .Navigator-Open a {
    font-family: "Stardos Stencil", system-ui;
    font-size: 30px;
    color: #000;
  }
  .Navigator {
    visibility: hidden;
    height: 0px;
  }
  .ContentMain-Flex {
    height: 120vh;
    flex-direction: column;
    align-items: center;
  }
  .ContentMain {
    height: 70%;
  }
  .ContentSidebar {
    order: 2;
    flex-direction: row;
  }
  .contentHeader {
    justify-content: end;
  }
  .contentHeader button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 9px;
    top: 9px;
    z-index: 1;
    visibility: visible;
  }
  .TitleMain h2 {
    font-size: 80px;
  }
  .AboutContent {
    flex-direction: column;
  }
  .paragraph-About {
    width: 350px;
    text-align: center;
  }
  .Image-About {
    width: 70%;
  }
  .Image-About img {
    width: 100%;
  }
  .Barbers-Cards {
    gap: 10px;
  }
  .cardBarbers {
    width: 50%;
  }
  .ContentOurBarbers {
    height: 200vh;
  }
  .itemsCardPrices {
    gap: 30px;
  }
  .cardprices {
    width: 70%;
  }
  .PriceTableServices {
    min-height: 200dvh;
  }
  .itemsBarber button {
    bottom: 50px;
  }
  .ButtonLearnMore {
    left: 25%;
  }
}

/*SECTIONS PRODUCTS*/

.ContentBarber-Market {
  background-image: url("assets/andrea-donato-MNu0n-3BIKs-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Header-Products {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  position: fixed;
  backdrop-filter: blur(5px);
}
.Header-Products button {
  visibility: hidden;
}

.Logo-Txt h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  font-family: "Stardos Stencil", system-ui;
}
.Header-Products nav {
  display: flex;
  gap: 30px;
}
.contentShop {
  height: 100vh;
  padding: 30px;
}
.contentShop h2 {
  color: white;
  font-size: 50px;
  font-family: "Stardos Stencil", system-ui;
}
.items-Products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
}

.image-products img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.cardProducts {
  text-align: center;
}
.cardProducts h2 {
  font-size: 30px;
}
.cardProducts p {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.cardProducts button {
  width: 180px;
  height: 40px;
  background: none;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
}
@media only screen and (max-width: 840px) {
  .Logo-Txt h2 {
    font-size: 30px;
    white-space: nowrap;
  }
  .items-Products {
    gap: 50px;
  }
  .PriceTableServices {
    min-height: 100dvh;
  }
  .Navigator a{
    white-space: nowrap;
  }
  .Header-Products{
    gap: 0;
  }
}
@media only screen and (max-width: 440px) {
  .Header-Products button {
    visibility: visible;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 9px;
    top: 9px;
    z-index: 2; /* asegúrate que esté por encima del nav */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; /* tamaño del icono */
    color: #000;
  }
  .Header-Products {
    justify-content: space-between;
  }

  .Logo-Txt h2 {
    font-size: 30px;
    white-space: nowrap;
    max-width: 70vw;
  }
  .items-Products {
    gap: 50px;
  }
}
